<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.longlong.an.jetpackcomposebooklearn">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackComposeBookLearn"
        tools:targetApi="31">
        <activity
            android:name=".chapter2.TextDisplayActivity"
            android:exported="false" />
        <activity
            android:name=".chapter2.ThemeActivity"
            android:exported="false" />
        <activity
            android:name=".CategoryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.JetpackComposeBookLearn">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity android:name=".chapter2.TextFieldActivity" />
        <activity android:name=".chapter2.ButtonActivity" />
        <activity android:name=".chapter2.ImageViewActivity" />
        <activity android:name=".chapter2.ProgressBarActivity" />
        <activity android:name=".chapter4.ColumnActivity" />
        <activity android:name=".chapter4.RowActivity" />
        <activity android:name=".chapter4.BoxActivity" />
        <activity android:name=".chapter4.ScaffoldActivity" />
        <activity android:name=".chapter4.ConstranitActivity" />
        <activity android:name=".chapter5.LazyColumnActivty" />
        <activity android:name=".chapter5.MultiTypeActivity" />
        <activity android:name=".chapter5.StickActivity" />
        <activity android:name=".chapter5.BottomNavigationActivity" />
        <activity android:name=".chapter6.CustomerView1Activity" />
        <activity android:name=".chapter6.CustomerView2Activity" />
        <activity android:name=".chapter7.Animation1Activity" />
        <activity android:name=".chapter7.Animation2Activity" />
        <activity android:name=".chapter7.CustomerAnimation1Activity" />
        <activity android:name=".chapter7.GuestureActivity" />
        <activity android:name=".chapter8.ViewModelActivity" />
        <activity android:name=".chapter8.NavigationActivity" />
        <activity android:name=".chapter9.AndroidViewActivity" />
    </application>

</manifest>